*{
  margin: 0px;
  padding: 0px;
}
@font-face{font-family:'dillen';
  src:url('fonts/Dillen2.ttf') format('truetype'),
}
body{
  font-family: Dillen;
}
::-webkit-scrollbar{
  width: 0px;
}
.top-cover{
    background-image:linear-gradient(to top,#121212,#0c4241);
    height: auto;
    width: auto;
}
.top-cover img{
    width: 100px;
    margin: 20px 0px 10px 20px;
    border-radius: 5px;
    box-shadow: #0000009e 0px 0px 10px;
}
.name-part-music{
    margin: 0px 0px 0px 20px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}
.info-part-music{
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    line-height: 20px;
    color: #a5a5a5;
}
.box-music{
    display: flex;
    margin: 20px;
}
.box-music img{
    width: 15%;
    border-radius: 10px;
    box-shadow: #0000009f 0px 1px 10px;
}
.txt-music-box{
    margin-top: 10px;
    margin-left: 10px;
}
.name-music{
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}
  .artist-name{
    font-size: 15px;
    line-height: 15px;
    color: #868686;  
}