*{
  margin: 0px;
  padding: 0px;
}
@font-face{font-family:'dillen';
  src:url('fonts/Dillen2.ttf') format('truetype'),
}
body{
  font-family: Dillen;
}
::-webkit-scrollbar{
  width: 0px;
}
.box-music img{
  width: 15%;
  border-radius: 10px;
  box-shadow: #0000009f 0px 1px 10px;
}
.txt-music-box{
  margin-top: 10px;
  margin-left: 10px;
}
.txt-music-box a{
  text-decoration: none;
}
.name-music{
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
.artist-name{
  font-size: 15px;
  line-height: 15px;
  color: #868686;  
}
.box-music{
  display: flex;
  margin: 20px;
}

.top-box{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px 0px 20px;
}

.part-box-a{
  background-color: #ff0033;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  margin-right: auto;
  margin-bottom: 10px;
}

.part-box-b{
  background-color: #0c4241;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  margin-right: auto;
  margin-bottom: 10px;
}

.top-box p{
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  margin: 5px;
}
.top-box img{
  width: 50px;
  height: 50px;
  margin-left: auto;
  border-bottom-right-radius: 5px;
  filter: drop-shadow(#000000 0px 0px 1px);
}

.part-txt{
  margin-top: 10px;
  margin-left: 20px;
  color: #ffffff;
}
